<article>
  <h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  <p>
    {{ content | excerpt | markdownify }}
    {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
       | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
         data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
    {% endif %}
  </p>
  <span class="meta">
    written {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
    {% include post/categories.html %}
  </span>

  {% if excerpted == 'true' %}
    <a class="full-article-link pull-right" rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  {% endif %}
</article>
